<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>Leave your lovely message here</h2>

  <form method="POST" action="/new">
    <p>
      <label for="user">Name : </label>
      <input id="user" type="text", value="" name="user">
    </p>

    <p>
      <label for="text">Message : </label>
      <input id="text" type="text", value="" name="text">
    </p>

    <button type="submit">Submit</button>
  </form>

</body>

</html>